.App {
  text-align: center;
}

.block{
  margin:25px;
}
.block div{
  margin: 0px;
  padding: 0px;
  display: flex-box;
  word-wrap: break-word;
}

.btn:focus {
  outline: none;
}

.blockchain {
    outline-style: dotted;
    outline-width: 2px;
    outline-color: red;
    padding: 10px;
    margin: 10px;

}
input {
  text-align: center;
}

.chainanim-enter {
  opacity: 0.01;
  width: 0px;
}

.chainanim-enter.chainanim-enter-active {
  opacity: 10;
  width: 100px;
  transition: 2000ms;
}

.chiananim-leave {
  opacity: 1;
  width: 100px;
}

.chiananim-leave.chainanim-leave-active {
  opacity: 0.01;
  width: 0px;
  transition: 700ms;
}
